//COLOR VARIABLES
//Turkish Aqua
// #005659;
// //Honey Glow
//  #EAB543;
// //White Pepper
//  #FAEFBA;
//#7E9EC4 BLUE SKY PASTEL
//#FECB88 STRAW YELLOW
//#D99F5B PERSIAN ORANGE
//#736386 PURPLE
//#763F22 BRICK
//#CFD2D7 GREY SKY
//EEFEEDC BONE MEAL

//FONTS
//OSWALD, SANS-SERIF
//VOLLKORN, SERIF

.app {
    min-height: 100vh;
    overflow: hidden;
    display: block;
    position: relative;    
    padding-bottom: 15vh;

}



