//COLOR VARIABLES
//Turkish Aqua
// #005659;
// //Honey Glow
//  #EAB543;
// //White Pepper
//  #FAEFBA;
//#7E9EC4 BLUE SKY PASTEL
//#FECB88 STRAW YELLOW
//#D99F5B PERSIAN ORANGE

//#736386 PURPLE
//#763F22 BRICK
//#CFD2D7 GREY SKY
//EEFEDC BONE MEAL

$main-color: #203145;
$secondary-dark: #D99F5B;
$background-color: #CFD2D7;
$header-text: #EEFEDC;
$action-text: #FECB88;
$input-text: #763F22;
$heading-font: 'Vollkorn', serif;
$body-font: 'Oswald', sans-serif;



//FONTS
//OSWALD, SANS-SERIF
//VOLLKORN, SERIF

//MIXINS
//parent containers in story, contact
@mixin parent-container-style {
    line-height: 30px;
    font-size: 1.5em;
    //padding: 1em;
  
}

//cards used in shop, cart
@mixin card-style {
    height: 350px;
    width: 250px;       
    text-align: center;    
    border-radius: 2%;         

}

@mixin splash-image-style {   
    display: block;
    min-height: 100vh;
    width: 50%;
}

@mixin btn-style {
     background-color: $background-color;  
    cursor: pointer;    
    border: 3px solid $main-color;    
    border-radius: 5px;
      
    font-family: $body-font;     
    transition: background-color 0.2s ease-out, color 0.2s ease-out; 
}

@mixin btn-hover {
    background-color: $main-color;
    color: $secondary-dark;
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

.app {
    min-height: 100vh;
    overflow: hidden;
    display: block;
    position: relative;       
    padding-bottom: 15vh;   
    background-color: $background-color; 
    color: $main-color;

}





