h1 {
    font-size: 2em;
}

.cart-container {
    text-align: center;
    font-size: 2em;
    line-height: 2em;   
       
         
}

.cart-item-container {   
    width: 80%;
    height: auto;
    margin: 1em auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    
    
}

//applies the styles to the second last child in the container
.cart-item-container:nth-last-child(2) {
    padding-bottom: 1em;
    border-bottom: 5px solid $main-color;
}



#cart-pic {
    height: 150px;
    width: 150px;
}

.cart-image-container {
     @include card-style;
    background-color: $secondary-dark; 
    height: 200px;
    width: 150px;  
   
}

.cart-text-container {
    text-align: right;
}

#total {  
    border-bottom: 5px solid #D99F5B;    
    padding: 5px;
    text-align: left;
    border-radius: 5px;
    float: right;
    margin-right: 4em;
    margin-bottom: 2em;    
    
}


.delete-item {
    @include btn-style;
    padding: 2px;
    font-size: .5em;    

}

.delete-item:hover {
    @include btn-hover;
}

.delete-item:focus {
    outline: 0;
}

.delete-item:active {
    transform: translate(1.5px, 1.5px);
}

