.contact-container {
    @include parent-container-style;
    font-size: 1.8em;
}

.contact-text {
    padding: 2em;
    width: auto;    
    line-height: 2em;
    margin: 0 auto;
}

.contact-pic {
    display: block;
    min-height: 50vh;
    width: 100vw;     
}

.contact-text > p {
    line-height: 1.8em;    
}


.tag {
    color: $secondary-dark;
    border-bottom: 3px solid $main-color;

}

////////////////////////////////////////////////////////////////////////////////

@media screen and (min-width: 680px) and (max-width: 1299px) and (orientation: landscape){
    .contact-container {
        font-size: 1.5em;
    }


}

@media screen and (min-width: 1300px) and (orientation: landscape){
.contact-container {    
    font-size: 2.5em;
}

.contact-text {    
    padding: 2em;
    width: auto;
    float: left;
    line-height: 2em;
}

.contact-text > p {
    line-height: 1.8em;
    font-size: 0.5em;
}

.contact-pic {
    @include splash-image-style;
    float: right;    
}


}




