.profile-container {
    @include parent-container-style;
    font-size: 2em;
    
}

h1 {    
    text-align: left;  
    margin-bottom: .8em;
}


.profile-text {
    padding: 3em;
    // display: block;         
    width: 50%;
    float: left;
}

.update-btn {
    @include btn-style;
    padding: 10px;
    font-size: 1em;
    display: block;
    margin: 0 auto;
}

.update-btn:hover {
    @include btn-hover;
}

.update-btn:focus {
    outline: 0;
}

.update-btn:active {
    transform: translate(1.5px, 1.5px);
}

input {
    margin: 2em 0;
    height: 10vh;
    width: 35vw;
    border-radius: 5px;
    border: 2px solid $main-color;
    font-size: 1em;
    color: $input-text;
}

input:focus {
    outline: 0;
    height: 10vh+1vh;
    width: 35vw+1vw;   
}

.profile-pic {
    @include splash-image-style;
    height: auto;       
    float: right;
   
   
}
