.profile-container {
    @include parent-container-style;
    font-size: 1.5em;
    
}

.profile-text {
    padding: 2em;           
    width: 100%;
    
}

h1 {    
    text-align: left;  
    margin-bottom: .8em;
}

input {
    margin: 2em 0;
    height: 10vh;
    width: 35vw;
    border-radius: 5px;
    border: 2px solid $main-color;
    font-size: 1em;
    color: $input-text;
    padding: 0;
    box-sizing: border-box;
}

input:focus {
    outline: 0;
    height: 10vh+1vh;
    width: 40vw+1vw;   
}


.update-btn {
    @include btn-style;
    padding: 10px;
    font-size: 1em;
    display: block;
    margin: 0 auto;
}

.update-btn:hover {
    @include btn-hover;
}

.update-btn:focus {
    outline: 0;
}

.update-btn:active {
    transform: translate(1.5px, 1.5px);
}

.profile-pic {
    @include splash-image-style;
    display: block;
    max-height: 40vh;
    width: 100vw;       
   
   
}

.tag {
    line-height: 1.8em;
}


//////////////////////////////////////////////////////////////////
@media screen and (min-width: 570px) and (orientation: vertical){
.profile-text {
   display: block;
   margin: 0 auto;
    
}

}

@media screen and (min-width: 1300px) and (orientation: landscape){

.profile-container {
    @include parent-container-style;
    font-size: 1.2em;
    
}

h1 {    
    text-align: left;  
    margin-bottom: .8em;
    font-size: 2.0em;
}


.profile-text {
    padding: 3em;           
    width: 50%;
    float: left;
}



input {
    margin: 2em 0;
    height: 10vh;
    width: 35vw;
    border-radius: 5px;
    border: 2px solid $main-color;
    font-size: 1em;
    color: $input-text;
}

input:focus {
    outline: 0;
    height: 10vh+1vh;
    width: 35vw+1vw;   
}

.profile-pic {
    @include splash-image-style;
    min-height: 100vh;       
    float: right;
   
   
}

.tag {
    font-size: 1.3em;
}
}