.profile-container {
    @include parent-container-style;
    font-size: 2em;
    padding: 2em;
}

h1 {    
    text-align: left;  
    margin-bottom: .8em;
}


.profile-text {
    padding: 1em;
    display: block;
    margin: 0 auto;     
    width: 60%;
}

.update-btn {
    @include btn-style;
    padding: 10px;
    font-size: 1em;
    display: block;
    margin: 0 auto;
}

.update-btn:hover {
    @include btn-hover;
}

.update-btn:focus {
    outline: 0;
}

.update-btn:active {
    transform: translate(1.5px, 1.5px);
}

input {
    margin: 2em 0;
    height: 10vh;
    width: 40vw;
    border-radius: 5px;
    border: 2px solid $main-color;
    font-size: 1em;
}


