.story-container {
    @include parent-container-style;    
    
    
}

.story-text {
    padding: 2em;
    width: 50%;    
    float: right;
}


.story-pic {
    @include splash-image-style;
    float: left;
}
