/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.app {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 15vh;
  background-color: #CFD2D7;
  color: #203145; }

.header-container {
  height: 15vh;
  width: 100%;
  padding: 2em;
  background-color: #203145;
  color: #EEFEDC;
  letter-spacing: 1.5px; }

.logo-container {
  display: inline-flex; }

.logo {
  font-family: "Vollkorn", serif;
  font-size: 2em;
  cursor: pointer;
  font-size: 1.5em; }

.nav-container {
  display: inline-flex;
  float: right; }

.nav-element {
  font-family: "Oswald", sans-serif;
  font-size: 1.5em;
  margin: 0 2rem; }

.nav-element:hover {
  color: #FECB88;
  cursor: pointer; }

a {
  text-decoration: none;
  color: #EEFEDC; }

a:hover {
  text-decoration: none;
  color: #FECB88; }

.footer-container {
  position: absolute;
  bottom: 0;
  height: 15vh;
  width: 100%;
  padding: 2em;
  background-color: #203145;
  color: #EEFEDC;
  letter-spacing: 1.5px;
  text-align: center; }

.shop-container {
  height: auto;
  width: inherit;
  line-height: 30px;
  font-size: 1.5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 3em; }

.card-container {
  height: 350px;
  width: 250px;
  text-align: center;
  border-radius: 2%;
  background-color: #7E9EC4;
  margin: 1em;
  cursor: pointer; }

.card-container:hover {
  height: 352px;
  width: 252px;
  background-color: #507bae; }

.text-container {
  margin: 15px;
  width: auto;
  height: auto; }

p {
  font-size: 20px;
  text-align: justify; }

.card-pic {
  margin-top: .5em;
  height: 200px;
  width: 200px; }

h2 {
  margin-top: 1.8em; }

.home-container {
  width: 100%;
  height: 60em;
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
  opacity: .4;
  background-image: url("../../assets/korea.jpg"); }

.story-container {
  line-height: 30px;
  font-size: 1.5em; }

.story-text {
  padding: 2em;
  width: auto; }

.story-pic {
  display: block;
  height: 100vh;
  width: 50%;
  float: left; }

.contact-container {
  line-height: 30px;
  font-size: 1.5em;
  font-size: 2em; }

.contact-text {
  padding: 2em;
  width: auto;
  float: left;
  line-height: 2em; }

.contact-text > p {
  line-height: 1.8em; }

.contact-pic {
  display: block;
  height: 100vh;
  width: 50%;
  float: right; }

.tag {
  color: #D99F5B;
  border-bottom: 3px solid #203145; }

.detailed-container {
  text-align: center;
  margin: 2em;
  color: #203145; }

.detailed-picture {
  height: 31.25em;
  width: 31.25em;
  float: left;
  margin-right: 1em; }

.product-info {
  letter-spacing: 3px;
  line-height: 1.5em; }

.product-info > h1 {
  font-size: 3em; }

.product-info > h3 {
  font-size: 2em;
  margin-bottom: 1em; }

.product-desc {
  margin: 2em 2em; }

#add-btn {
  background-color: #CFD2D7;
  cursor: pointer;
  padding: 15px;
  border: 3px solid #203145;
  border-radius: 5px;
  font-size: 1.2em;
  font-family: "Oswald", sans-serif;
  transition: background-color 0.2s ease-out, color 0.2s ease-out; }

#add-btn:hover {
  background-color: #203145;
  color: #D99F5B;
  transition: background-color 0.3s ease-in, color 0.3s ease-in; }

#add-btn:focus {
  outline: 0; }

#add-btn:active {
  transform: translate(1.5px, 1.5px); }

h1 {
  font-size: 2em; }

.cart-container {
  text-align: center;
  font-size: 2em;
  line-height: 2em; }

.cart-item-container {
  width: 80%;
  height: auto;
  margin: 1em auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box; }

.cart-item-container:nth-last-child(2) {
  padding-bottom: 1em;
  border-bottom: 5px solid #203145; }

#cart-pic {
  height: 150px;
  width: 150px; }

.cart-image-container {
  height: 350px;
  width: 250px;
  text-align: center;
  border-radius: 2%;
  background-color: #D99F5B;
  height: 200px;
  width: 150px; }

.cart-text-container {
  text-align: right; }

#total {
  border-bottom: 5px solid #D99F5B;
  padding: 5px;
  text-align: left;
  border-radius: 5px;
  float: right;
  margin-right: 4em;
  margin-bottom: 2em; }

body {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif, sans-serif; }

/*# sourceMappingURL=index.css.map */
